<div class="vbox animated fadeInRight">
    <div class="vbox-bd">
        <div class="vbox-bd-cell">
            <div class="vbox-bd-content">
                <div class="p-a-md">
                    <h2>概述</h2>
                    <h3>什么是单页应用</h3>
                    <p>所谓单页应用，简称 SPA，指的是在一个页面上集成多种功能，甚至整个系统就只有一个页面，所有的业务功能都是它的子模块，通过特定的方式挂接到主界面上。它是AJAX技术的进一步升华，把AJAX的无刷新机制发挥到极致，因此能造就与桌面程序媲美的流畅用户体验。
                    </p>
                    <h3>SPA 面临的问题</h3>
                    <h4>路由</h4>
                    <h4>资源管理</h4>
                    <h4>内存泄漏</h4>
                    <h4>数据刷新</h4>
                    <h3>技术方案</h3>
                    <h4>Mvc，mvp，mvvm </h4>
                    <h4>Data driven</h4>
                    <h4>Reactive programing</h4>
                    <h4>Modularity</h4>
                </div>
            </div>
        </div>
    </div>
</div>