<div class="vbox animated fadeInRight">
    <div class="vbox-hd b-b">
        <div class="navbar">
            <div class="navbar-hd">
                <h4>
                    纵向列表
                </h4>
            </div>
        </div>
    </div>
    <div class="vbox-bd">
        <div class="vbox-bd-cell">
            <div class="vbox-bd-content p-a-md">
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>基本样式</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <ul class="list">
                            <li>为什么金庸小说中的武林高手越来越弱</li>
                            <li>笑傲江湖中的政治斗争</li>
                            <li>论《葵花宝典》与《辟邪剑法》</li>
                            <li>武侠世界中的医者</li>
                            <li>《天龙八部》之文化思想的解读</li>
                            <li>金庸小说中的八大经典战役回顾</li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>分隔线</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <ul class="list splitline">
                            <li>为什么金庸小说中的武林高手越来越弱</li>
                            <li>笑傲江湖中的政治斗争</li>
                            <li>论《葵花宝典》与《辟邪剑法》</li>
                            <li>武侠世界中的医者</li>
                            <li>《天龙八部》之文化思想的解读</li>
                            <li>金庸小说中的八大经典战役回顾</li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>轮廓线</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <ul class="list outline">
                            <li>为什么金庸小说中的武林高手越来越弱</li>
                            <li>笑傲江湖中的政治斗争</li>
                            <li>论《葵花宝典》与《辟邪剑法》</li>
                            <li>武侠世界中的医者</li>
                            <li>《天龙八部》之文化思想的解读</li>
                            <li>金庸小说中的八大经典战役回顾</li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>轮廓线、间隙</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <ul class="list outline space">
                            <li>为什么金庸小说中的武林高手越来越弱</li>
                            <li>笑傲江湖中的政治斗争</li>
                            <li>论《葵花宝典》与《辟邪剑法》</li>
                            <li>武侠世界中的医者</li>
                            <li>《天龙八部》之文化思想的解读</li>
                            <li>金庸小说中的八大经典战役回顾</li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>基本样式 - 空间大小</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">紧密</div>
                                    <div class="card-bd">
                                        <ul class="list tight">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">默认</div>
                                    <div class="card-bd">
                                        <ul class="list">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">宽松</div>
                                    <div class="card-bd">
                                        <ul class="list loose">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>间隔线 - 空间大小</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">紧密</div>
                                    <div class="card-bd">
                                        <ul class="list splitline tight">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">默认</div>
                                    <div class="card-bd">
                                        <ul class="list splitline">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">宽松</div>
                                    <div class="card-bd">
                                        <ul class="list splitline loose">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>轮廓线 - 空间大小</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">紧密</div>
                                    <div class="card-bd">
                                        <ul class="list outline tight">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">默认</div>
                                    <div class="card-bd">
                                        <ul class="list outline">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">宽松</div>
                                    <div class="card-bd">
                                        <ul class="list outline loose">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>轮廓线、间隙 - 空间大小</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">紧密</div>
                                    <div class="card-bd">
                                        <ul class="list outline space tight">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">默认</div>
                                    <div class="card-bd">
                                        <ul class="list outline space">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">宽松</div>
                                    <div class="card-bd">
                                        <ul class="list outline space loose">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>不同背景色</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">紧密</div>
                                    <div class="card-bd">
                                        <ul class="list bg-primary hover">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">默认</div>
                                    <div class="card-bd">
                                        <ul class="list outline space">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">宽松</div>
                                    <div class="card-bd">
                                        <ul class="list outline space loose">
                                            <li>为什么金庸小说中的武林高手越来越弱</li>
                                            <li>笑傲江湖中的政治斗争</li>
                                            <li>论《葵花宝典》与《辟邪剑法》</li>
                                            <li>武侠世界中的医者</li>
                                            <li>《天龙八部》之文化思想的解读</li>
                                            <li>金庸小说中的八大经典战役回顾</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>