<div class="vbox animated fadeInRight">
    <div class="vbox-hd b-b">
        <div class="navbar">
            <div class="navbar-hd">
                <h4>
                    行块列表
                </h4>
            </div>
        </div>
    </div>
    <div class="vbox-bd">
        <div class="vbox-bd-cell">
            <div class="vbox-bd-content p-a-md">
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>基本样式</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <ul class="list-inline">
                            <li>飞狐外传</li>
                            <li>雪山飞狐</li>
                            <li>连城诀</li>
                            <li>天龙八部</li>
                            <li>射雕英雄传</li>
                            <li>白马啸西风</li>
                            <li>鹿鼎记</li>
                            <li>笑傲江湖</li>
                            <li>书剑恩仇录</li>
                            <li>神雕侠侣</li>
                            <li>侠客行</li>
                            <li>倚天屠龙记</li>
                            <li>碧血剑</li>
                            <li>鸳鸯刀</li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>平均排列</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <ul class="list-inline justify">
                            <li>飞狐外传</li>
                            <li>雪山飞狐</li>
                            <li>连城诀</li>
                            <li>天龙八部</li>
                            <li>射雕英雄传</li>
                            <li>白马啸西风</li>
                            <li>鹿鼎记</li>
                            <li>笑傲江湖</li>
                            <li>书剑恩仇录</li>
                            <li>神雕侠侣</li>
                            <li>侠客行</li>
                            <li>倚天屠龙记</li>
                            <li>碧血剑</li>
                            <li>鸳鸯刀</li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>间隙</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <ul class="list-inline space">
                            <li>
                                <div class="card">
                                    <div class="card-bd">飞狐外传</div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-bd">雪山飞狐</div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-bd">连城诀</div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-bd">天龙八部</div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-bd">射雕英雄传</div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-bd">白马啸西风</div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-bd">鹿鼎记</div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-bd">笑傲江湖</div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-bd">书剑恩仇录</div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-bd">神雕侠侣</div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-bd">侠客行</div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-bd">倚天屠龙记</div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-bd">碧血剑</div>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <div class="card-bd">鸳鸯刀</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>基本样式 - 空间大小</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">紧密</div>
                                    <div class="card-bd">
                                        <ul class="list-inline tight">
                                            <li>飞狐外传</li>
                                            <li>雪山飞狐</li>
                                            <li>连城诀</li>
                                            <li>天龙八部</li>
                                            <li>射雕英雄传</li>
                                            <li>白马啸西风</li>
                                            <li>鹿鼎记</li>
                                            <li>笑傲江湖</li>
                                            <li>书剑恩仇录</li>
                                            <li>神雕侠侣</li>
                                            <li>侠客行</li>
                                            <li>倚天屠龙记</li>
                                            <li>碧血剑</li>
                                            <li>鸳鸯刀</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">默认</div>
                                    <div class="card-bd">
                                        <ul class="list-inline">
                                            <li>飞狐外传</li>
                                            <li>雪山飞狐</li>
                                            <li>连城诀</li>
                                            <li>天龙八部</li>
                                            <li>射雕英雄传</li>
                                            <li>白马啸西风</li>
                                            <li>鹿鼎记</li>
                                            <li>笑傲江湖</li>
                                            <li>书剑恩仇录</li>
                                            <li>神雕侠侣</li>
                                            <li>侠客行</li>
                                            <li>倚天屠龙记</li>
                                            <li>碧血剑</li>
                                            <li>鸳鸯刀</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">宽松</div>
                                    <div class="card-bd">
                                        <ul class="list-inline loose">
                                            <li>飞狐外传</li>
                                            <li>雪山飞狐</li>
                                            <li>连城诀</li>
                                            <li>天龙八部</li>
                                            <li>射雕英雄传</li>
                                            <li>白马啸西风</li>
                                            <li>鹿鼎记</li>
                                            <li>笑傲江湖</li>
                                            <li>书剑恩仇录</li>
                                            <li>神雕侠侣</li>
                                            <li>侠客行</li>
                                            <li>倚天屠龙记</li>
                                            <li>碧血剑</li>
                                            <li>鸳鸯刀</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>间隙 - 空间大小</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">紧密</div>
                                    <div class="card-bd">
                                        <ul class="list-inline space tight">
                                            <li>飞狐外传</li>
                                            <li>雪山飞狐</li>
                                            <li>连城诀</li>
                                            <li>天龙八部</li>
                                            <li>射雕英雄传</li>
                                            <li>白马啸西风</li>
                                            <li>鹿鼎记</li>
                                            <li>笑傲江湖</li>
                                            <li>书剑恩仇录</li>
                                            <li>神雕侠侣</li>
                                            <li>侠客行</li>
                                            <li>倚天屠龙记</li>
                                            <li>碧血剑</li>
                                            <li>鸳鸯刀</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">默认</div>
                                    <div class="card-bd">
                                        <ul class="list-inline space">
                                            <li>飞狐外传</li>
                                            <li>雪山飞狐</li>
                                            <li>连城诀</li>
                                            <li>天龙八部</li>
                                            <li>射雕英雄传</li>
                                            <li>白马啸西风</li>
                                            <li>鹿鼎记</li>
                                            <li>笑傲江湖</li>
                                            <li>书剑恩仇录</li>
                                            <li>神雕侠侣</li>
                                            <li>侠客行</li>
                                            <li>倚天屠龙记</li>
                                            <li>碧血剑</li>
                                            <li>鸳鸯刀</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-hd">宽松</div>
                                    <div class="card-bd">
                                        <ul class="list-inline space loose">
                                            <li>飞狐外传</li>
                                            <li>雪山飞狐</li>
                                            <li>连城诀</li>
                                            <li>天龙八部</li>
                                            <li>射雕英雄传</li>
                                            <li>白马啸西风</li>
                                            <li>鹿鼎记</li>
                                            <li>笑傲江湖</li>
                                            <li>书剑恩仇录</li>
                                            <li>神雕侠侣</li>
                                            <li>侠客行</li>
                                            <li>倚天屠龙记</li>
                                            <li>碧血剑</li>
                                            <li>鸳鸯刀</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>