<div class="vbox animated fadeInRight">
    <div class="vbox-hd b-b">
        <div class="navbar">
            <div class="navbar-hd">
                <h4>
                    单行列表
                </h4>
            </div>
        </div>
    </div>
    <div class="vbox-bd">
        <div class="vbox-bd-cell">
            <div class="vbox-bd-content p-a-md">
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>基本样式</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <ul class="list list-row">
                            <li>飞狐外传</li>
                            <li>雪山飞狐</li>
                            <li>连城诀</li>
                            <li>天龙八部</li>
                            <li>射雕英雄传</li>
                            <li>白马啸西风</li>
                            <li>鹿鼎记</li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>间隔线</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <ul class="list list-row splitline">
                            <li>飞狐外传</li>
                            <li>雪山飞狐</li>
                            <li>连城诀</li>
                            <li>天龙八部</li>
                            <li>射雕英雄传</li>
                            <li>白马啸西风</li>
                            <li>鹿鼎记</li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>轮廓线</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <ul class="list list-row outline">
                            <li>飞狐外传</li>
                            <li>雪山飞狐</li>
                            <li>连城诀</li>
                            <li>天龙八部</li>
                            <li>射雕英雄传</li>
                            <li>白马啸西风</li>
                            <li>鹿鼎记</li>
                            <li>笑傲江湖</li>
                            <li>书剑恩仇录</li>
                            <li>神雕侠侣</li>
                            <li>侠客行</li>
                            <li>倚天屠龙记</li>
                            <li>碧血剑</li>
                            <li>鸳鸯刀</li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>平均排列</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="card m-b-lg">
                            <div class="card-hd">基本样式平均</div>
                            <div class="card-bd">
                                <ul class="list list-row justify">
                                    <li>飞狐外传</li>
                                    <li>雪山飞狐</li>
                                    <li>连城诀</li>
                                    <li>天龙八部</li>
                                    <li>射雕英雄传</li>
                                    <li>白马啸西风</li>
                                    <li>鹿鼎记</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-b-lg">
                            <div class="card-hd">分隔线平均</div>
                            <div class="card-bd">
                                <ul class="list list-row splitline justify">
                                    <li>飞狐外传</li>
                                    <li>雪山飞狐</li>
                                    <li>连城诀</li>
                                    <li>天龙八部</li>
                                    <li>射雕英雄传</li>
                                    <li>白马啸西风</li>
                                    <li>鹿鼎记</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-hd">轮廓线平均</div>
                            <div class="card-bd">
                                <ul class="list list-row outline justify">
                                    <li>飞狐外传</li>
                                    <li>雪山飞狐</li>
                                    <li>连城诀</li>
                                    <li>天龙八部</li>
                                    <li>射雕英雄传</li>
                                    <li>白马啸西风</li>
                                    <li>鹿鼎记</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>基本样式 - 空间大小</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="card m-b-lg">
                            <div class="card-hd">紧密</div>
                            <div class="card-bd">
                                <ul class="list list-row tight bg-light">
                                    <li>飞狐外传</li>
                                    <li>雪山飞狐</li>
                                    <li>连城诀</li>
                                    <li>天龙八部</li>
                                    <li>射雕英雄传</li>
                                    <li>白马啸西风</li>
                                    <li>鹿鼎记</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-b-lg">
                            <div class="card-hd">默认</div>
                            <div class="card-bd">
                                <ul class="list list-row bg-light">
                                    <li>飞狐外传</li>
                                    <li>雪山飞狐</li>
                                    <li>连城诀</li>
                                    <li>天龙八部</li>
                                    <li>射雕英雄传</li>
                                    <li>白马啸西风</li>
                                    <li>鹿鼎记</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-hd">宽松</div>
                            <div class="card-bd">
                                <ul class="list list-row loose bg-light">
                                    <li>飞狐外传</li>
                                    <li>雪山飞狐</li>
                                    <li>连城诀</li>
                                    <li>天龙八部</li>
                                    <li>射雕英雄传</li>
                                    <li>白马啸西风</li>
                                    <li>鹿鼎记</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>间隔线 - 空间大小</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="card">
                            <div class="card-hd">紧密</div>
                            <div class="card-bd">
                                <ul class="list list-row splitline tight">
                                    <li>飞狐外传</li>
                                    <li>雪山飞狐</li>
                                    <li>连城诀</li>
                                    <li>天龙八部</li>
                                    <li>射雕英雄传</li>
                                    <li>白马啸西风</li>
                                    <li>鹿鼎记</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-hd">默认</div>
                            <div class="card-bd">
                                <ul class="list list-row splitline">
                                    <li>飞狐外传</li>
                                    <li>雪山飞狐</li>
                                    <li>连城诀</li>
                                    <li>天龙八部</li>
                                    <li>射雕英雄传</li>
                                    <li>白马啸西风</li>
                                    <li>鹿鼎记</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-hd">宽松</div>
                            <div class="card-bd">
                                <ul class="list list-row splitline loose">
                                    <li>飞狐外传</li>
                                    <li>雪山飞狐</li>
                                    <li>连城诀</li>
                                    <li>天龙八部</li>
                                    <li>射雕英雄传</li>
                                    <li>白马啸西风</li>
                                    <li>鹿鼎记</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>轮廓线 - 空间大小</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="card m-b-lg">
                            <div class="card-hd">紧密</div>
                            <div class="card-bd">
                                <ul class="list list-row outline tight">
                                    <li>飞狐外传</li>
                                    <li>雪山飞狐</li>
                                    <li>连城诀</li>
                                    <li>天龙八部</li>
                                    <li>射雕英雄传</li>
                                    <li>白马啸西风</li>
                                    <li>鹿鼎记</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-b-lg">
                            <div class="card-hd">默认</div>
                            <div class="card-bd">
                                <ul class="list list-row outline">
                                    <li>飞狐外传</li>
                                    <li>雪山飞狐</li>
                                    <li>连城诀</li>
                                    <li>天龙八部</li>
                                    <li>射雕英雄传</li>
                                    <li>白马啸西风</li>
                                    <li>鹿鼎记</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-hd">宽松</div>
                            <div class="card-bd">
                                <ul class="list list-row outline loose">
                                    <li>飞狐外传</li>
                                    <li>雪山飞狐</li>
                                    <li>连城诀</li>
                                    <li>天龙八部</li>
                                    <li>射雕英雄传</li>
                                    <li>白马啸西风</li>
                                    <li>鹿鼎记</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>