<div class="vbox animated fadeInRight">
    <div class="vbox-hd b-b">
        <div class="navbar">
            <div class="navbar-hd">
                <h4>
                    列表
                </h4>
            </div>
        </div>
    </div>
    <div class="vbox-bd">
        <div class="vbox-bd-cell">
            <div class="vbox-bd-content">
                <div class="p-a-md">
                    <h3>横向浮动带间隔 - 卡片内容</h3>
                    <div class="eg">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-bd">飞狐外传</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-bd">雪山飞狐</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-bd">连城诀</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-bd">天龙八部</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-bd">射雕英雄传</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-bd">白马啸西风</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-bd">鹿鼎记</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-bd">笑傲江湖</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-bd">书剑恩仇录</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-bd">神雕侠侣</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-bd">侠客行</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-bd">倚天屠龙记</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-bd">碧血剑</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-bd">鸳鸯刀</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3>横向浮动带间隔 - 卡片内容</h3>
                    <div class="eg">
                        <div class="row-outline">
                            <div class="col-md-3">
                                <div class="big-p-md">
                                    <div class="card-bd">飞狐外传</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="big-p-md">
                                    <div class="card-bd">雪山飞狐</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="big-p-md">
                                    <div class="card-bd">连城诀</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="big-p-md">
                                    <div class="card-bd">天龙八部</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="big-p-md">
                                    <div class="card-bd">射雕英雄传</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="big-p-md">
                                    <div class="card-bd">白马啸西风</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="big-p-md">
                                    <div class="card-bd">鹿鼎记</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="big-p-md">
                                    <div class="card-bd">笑傲江湖</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="big-p-md">
                                    <div class="card-bd">书剑恩仇录</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="big-p-md">
                                    <div class="card-bd">神雕侠侣</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="big-p-md">
                                    <div class="card-bd">侠客行</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="big-p-md">
                                    <div class="card-bd">倚天屠龙记</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="big-p-md">
                                    <div class="card-bd">碧血剑</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="big-p-md">
                                    <div class="card-bd">鸳鸯刀</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>