<div class="vbox animated fadeInRight">
    <div class="row-fit">
        <div class="cell-fit">
            <div class="cell-fit-inner">
                <div class="slim-scroll p-a-md">
                    <h2>横向布局</h2>
                    <p class="lh-lg">用于对页面内容进行横线划分，把内容划分成一栏（列）或多栏（列）。针对不同使用场景，有两种横向布局方式。</p>
                    <h3>横向固定布局</h3>
                    <p class="lh-lg">列的宽度为实际指定的宽度，不随内容的变化而变化，一般用于整体页面的布局。</p>
                    <div class="eg">
                        <div class="hbox h-lg">
                            <div class="w-lg bg-dark">侧边栏，一般放菜单</div>
                            <div class="bg-light">内容区域</div>
                        </div>
                    </div>
                    <div class="highlight">
                        <pre>
                            <code tmpl="tmpl1" class="language-html" data-lang="html"></code>
                        </pre>
                    </div>
                    <h3>横向自适应布局</h3>
                    <p class="lh-lg">可以指定某一列的宽度为自适应。有两种常用的使用场景。 一种是代替float布局，实现两端对齐，一种是用于内容列表的列表项内部分栏布局。</p>
                    <h4>两端对齐</h4>
                    <div class="eg">
                        <div class="hbox-fit h">
                            <div class="col-fit bg-dark">我在左边，我可以自适应充满剩余宽度</div>
                            <div class="bg-light"><button>我被挤在了右边</button></div>
                        </div>
                    </div>
                    <div class="highlight">
                        <pre>
                            <code tmpl="tmpl2" class="language-html" data-lang="html"></code>
                        </pre>
                    </div>
                    <h4>自适应列文本超出自动显示省略号</h4>
                    <div class="eg">
                        <div class="hbox-fit h">
                            <div class="col-fit bg-dark">
                                <div class="cell-ell">
                                    <h3>我是很长很长很长很长很长很长很长很长的标题，当屏幕变窄时，显示不下的内容会被截掉并且显示省略号。</h3>
                                </div>
                            </div>
                            <div class="bg-light"><button>我被挤在了右边</button></div>
                        </div>
                    </div>
                    <div class="highlight">
                        <pre>
                            <code tmpl="tmpl3" class="language-html" data-lang="html"></code>
                        </pre>
                    </div>
                    <div class="callout callout-danger">
                        <h4><code>table-layout:auto</code> 布局下的 td 内容截取问题</h4>
                        <p><code>table-layout:auto</code> 布局下的 td 内容截直接应用 <code>t-ell</code> 是没有效果的。需要借助 <code>cell-ell</code> 才可以。还要注意，<code>cell-ell</code> 只是包裹元素，文本需要写在该元素内嵌的元素内。如上示例所示。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tmpl1" type="text/html">
<div class="hbox h-lg">
    <div class="w-lg bg-dark">侧边栏，一般放菜单</div>
    <div class="bg-light">内容区域</div>
</div>
</script>
<script id="tmpl2" type="text/html">
    <div class="hbox-fit h">
        <div class="col-fit bg-dark">我在左边，我可以自适应充满剩余宽度</div>
        <div class="bg-light"><button>我被挤在了右边</button></div>
    </div>
</script>
<script id="tmpl3" type="text/html">
<div class="hbox-fit h">
    <div class="col-fit bg-dark">
        <div class="cell-ell">
            <h3>我是很长很长很长很长很长很长很长很长的标题，当屏幕变窄时，显示不下的内容会被截掉并且显示省略号。</h3>
        </div>
    </div>
    <div class="bg-light"><button>我被挤在了右边</button></div>
</div>
</script>