<div class="vbox animated fadeInRight">
    <div class="vbox-hd b-b">
        <div class="navbar">
            <div class="navbar-hd">
                <h4>
                    导航条
                </h4>
            </div>
        </div>
    </div>
    <div class="vbox-bd p-a-md">
        <div class="widget widget-panel">
            <div class="widget-hd">
                <div class="navbar">
                    <div class="navbar-hd">
                        <h4>
                            基本样式
                        </h4>
                    </div>
                </div>
            </div>
            <div class="widget-bd">
                <div class="row">
                    <div class="col-md-6 m-b-lg">
                        <div class="card">
                            <div class="card-hd">头部</div>
                            <div class="card-bd">
                                <div class="navbar">
                                    <div class="navbar-hd">
                                        <h4>我是标题
                                            <small>我是副标题</small>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 m-b-lg">
                        <div class="card">
                            <div class="card-hd">头部 + 尾部</div>
                            <div class="card-bd">
                                <div class="navbar">
                                    <div class="navbar-hd">
                                        <h4>我是标题
                                            <small>我是副标题</small>
                                        </h4>
                                    </div>
                                    <div class="navbar-ft">
                                        <a>更多 >></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 m-b-lg">
                        <div class="card">
                            <div class="card-hd">头部 + 腹部</div>
                            <div class="card-bd">
                                <div class="navbar">
                                    <div class="navbar-hd">
                                        <h4>我是标题</h4>
                                    </div>
                                    <div class="navbar-bd">
                                        <ul class="menu-row">
                                            <li>
                                                <a class="active">选项一</a>
                                            </li>
                                            <li>
                                                <a>选项二</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 m-b-lg">
                        <div class="card">
                            <div class="card-hd">头部 + 腹部 + 尾部</div>
                            <div class="card-bd">
                                <div class="navbar">
                                    <div class="navbar-hd">
                                        <h4>我是标题</h4>
                                    </div>
                                    <div class="navbar-bd">
                                        <ul class="menu-row">
                                            <li>
                                                <a class="active">选项一</a>
                                            </li>
                                            <li>
                                                <a>选项二</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="navbar-ft">
                                        <a>更多 >></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget widget-panel">
            <div class="widget-hd">
                <div class="navbar">
                    <div class="navbar-hd">
                        <div class="caption">
                            <div class="caption-title">
                                <h4>
                                    标题结构
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-bd">
                <div class="row">
                    <div class="col-md-6 m-b-lg">
                        <div class="card">
                            <div class="card-hd">标题</div>
                            <div class="card-bd">
                                <div class="navbar">
                                    <div class="navbar-hd">
                                        <div class="caption">
                                            <div class="caption-title">
                                                <h4>我是标题
                                                    <small>我是副标题</small>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 m-b-lg">
                        <div class="card">
                            <div class="card-hd">图标 + 标题</div>
                            <div class="card-bd">
                                <div class="navbar">
                                    <div class="navbar-hd">
                                        <div class="caption">
                                            <div class="caption-icon">
                                                <i class="fa fa-book"></i>
                                            </div>
                                            <div class="caption-title">
                                                <h4>我是标题
                                                    <small>我是副标题</small>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-hd">副标题换行</div>
                            <div class="card-bd">
                                <div class="navbar">
                                    <div class="navbar-hd">
                                        <div class="caption">
                                            <div class="caption-title">
                                                <h4>我是标题
                                                    <p>
                                                        <small>我是副标题</small>
                                                    </p>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-hd">标题前线条</div>
                            <div class="card-bd">
                                <div class="navbar line">
                                    <div class="navbar-hd">
                                        <div class="caption">
                                            <div class="caption-title">
                                                <h4>我是标题
                                                    <small>我是副标题</small>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-hd">导航条线条</div>
                            <div class="card-bd">
                                <div class="navbar line bg-light navbar-md">
                                    <div class="navbar-title">
                                        <h4>我是标题
                                            <small>我是副标题</small>
                                        </h4>
                                    </div>
                                    <div class="navbar-ft">更多>></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-hd">标题线条</div>
                            <div class="card-bd">
                                <div class="navbar navbar-md">
                                    <div class="navbar-hd">
                                        <div class="caption line">
                                            <div class="caption-icon">
                                                <i class="fa fa-3x fa-book"></i>
                                            </div>
                                            <div class="caption-title">
                                                <h4>我是标题
                                                    <small>我是副标题</small>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="navbar-ft">更多>></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>