<div class="vbox animated fadeInRight">
    <div class="row-fit">
        <div class="cell-fit">
            <div class="cell-fit-inner">
                <div class="slim-scroll p-a-md">
                    <h2>纵向布局</h2>
                    <p class="lh-lg"><code>vbox</code> 用于对页面内容进行纵向划分，把内容划分成一行或多行，注意其中有一行必须自适应高度，否则不需要使用该样式类，直接用 <code>div</code> 就可以了。</p>
                    <div class="eg">
                        <div style="height:360px;">
                            <div class="app">
                                <div class="vbox">
                                    <div class="bg-dark">header</div>
                                    <div class="row-fit bg-light">
                                        <div class="cell-fit">
                                            <div class="cell-fit-inner">content, this will auto fit height</div>
                                        </div>
                                    </div>
                                    <div class="bg-dark">footer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="highlight">
                        <pre>
                            <code tmpl="tmpl1" class="language-html" data-lang="html"></code>
                        </pre>
                    </div>
                    <h3>自适应行带滚动条</h3>
                    <div class="eg">
                        <div style="height:360px;">
                            <div class="app">
                                <div class="vbox">
                                    <div class="bg-dark">header</div>
                                    <div class="row-fit bg-light">
                                        <div class="cell-fit scrollable">
                                            <div class="cell-fit-inner">
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                                <p>很长很长很长很长很长的内容</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-dark">footer</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="highlight">
                        <pre>
                            <code tmpl="tmpl2" class="language-html" data-lang="html"></code>
                        </pre>
                    </div>
                    <div class="callout callout-danger">
                        <h4>单元格内容带滚动条</h4>
                        <p>单元格内容可滚动，特别是自适应高度单元格内容带滚动条要实现还是比较麻烦的，需要嵌套几层元素，且要处理ie的行为。</p>
                        <p>加上在横向布局里提到的文本截取问题，表格布局主要就是这两大问题。如果只考虑现代浏览器，特别是移动浏览器，flexbox布局是更好的选择。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tmpl1" type="text/html">
<div style="height:360px;">
    <div class="app">
        <div class="vbox">
            <div class="bg-dark">header</div>
            <div class="row-fit bg-light">
                <div class="cell-fit">
                    <div class="cell-fit-inner">content, this will auto fit height</div>
                </div>
            </div>
            <div class="bg-dark">footer</div>
        </div>
    </div>
</div>
</script>
<script id="tmpl2" type="text/html">
<div style="height:360px;">
<div class="app">
    <div class="vbox">
        <div class="bg-dark">header</div>
        <div class="row-fit bg-light">
            <div class="cell-fit scrollable">
                <div class="cell-fit-inner">
                    <p>很长很长很长很长很长的内容</p>
                    <p>很长很长很长很长很长的内容</p>
                    <p>很长很长很长很长很长的内容</p>
                    <p>很长很长很长很长很长的内容</p>
                    <p>......</p>                    
                </div>
            </div>
        </div>
        <div class="bg-dark">footer</div>
    </div>
</div>
</div>
</script>