<div class="slim-scroll">
    <div class="masthead bg-primary">
        <div class="container text-center">
            <button class="btn btn-lg bg-white o">JUI</button>
            <p class="m-y-lg">JUI 是一个简单、纯粹的UI框架</p>
            <button class="btn btn-lg  o">开始使用</button>
        </div>
    </div>
    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>简单、轻量</h3>
                    <p>基于 web 原始html、css、js技术，不需要转化，不需要构建工具。没有“黑科技”，简单，直观，不需要额外的知识学习。</p>
                </div>
                <div class="col-sm-4">
                    <h3>JS 插件</h3>
                    <p>基于 jQuery UI 的，行为驱动的，可模板化的JS 插件。</p>
                </div>
                <div class="col-sm-4">
                    <h3>灵活、易扩展</h3>
                    <p>基于模版的插件，可根据实际情况定制模版，可基于基本插件二次开发。</p>
                </div>
            </div>
        </div>
    </div>
</div>