<div class="slim-scroll">
    <div class="masthead bg-primary">
        <div class="container text-center">
            <button class="btn btn-lg bg-white o">JUI</button>
            <p class="m-y-lg">该项目为sample项目 基于JUI</p>
            <button class="btn btn-lg  o"><a href="https://github.com/wetrial/jui" target="_blank">jui</a>地址：https://github.com/wetrial/jui</button>
        </div>
    </div>
    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>甘特图</h3>
                    <p>依赖vue实现的甘特图demo，用于项目管理中含有计划开始时间、计划结束时间、实际开始时间、实际结束时间 可视化项目的计划、预警、超时等。</p>
                </div>
                <div class="col-sm-4">
                    <h3>表单设计</h3>
                    <p>基于vue 实现的表单设计、可以自定义。</p>
                </div>
                <div class="col-sm-4">
                    <h3>其他敬请期待</h3>
                    <p>。。。。。。。。。。。</p>
                </div>
            </div>
        </div>
    </div>
</div>