<div class="vbox">
    <div class="vbox-bd">
        <div class="vbox-bd-cell">
            <div class="vbox-bd-content">
                <div class="slim-scroll p-a-md">
                    <h2>基础</h2>
                    <p>JUI 定义了一个插件基类供其他插件继承，该基类定义了所有插件公用的一些属性和方法，以及插件的生命周期。</p>
                    <p>JUI 还定义了三个基本的插件用来供其他插件混入（mixin），来统一实现一些功能。</p>
                    <h3>基类 jcomponent</h3>
                    <h4>选项</h4>
                    <ul class="api-list">
                        <li>
                            <h4>renderIf</h4>
                            <ul>
                                <li>
                                    <strong>类型：</strong>Boolean</li>
                                <li>
                                    <strong>说明：</strong>是否渲染，默认为 true。当一个插件需要动态渲染时，可设置为 false。 </li>
                            </ul>
                        </li>
                        <li>
                            <h4>hideIf</h4>
                            <ul>
                                <li>
                                    <strong>类型：</strong>Boolean</li>
                                <li>
                                    <strong>说明：</strong>是否显示，默认为 true。当一个插件需要动态显示时，可设置为 false。 </li>
                            </ul>
                        </li>
                        <li>
                            <h4>properties</h4>
                            <ul>
                                <li>
                                    <strong>类型：</strong>Object</li>
                                <li>
                                    <strong>说明：</strong>属性选项，默认为 null。对象类型，设置的对象的属性会成为插件的属性，方便插件内部引用。 </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>方法</h4>
                    <ul class="api-list">
                        <li>
                            <h4>refresh</h4>
                            <ul>
                                <li>
                                    <strong>参数：</strong>
                                    <ul>
                                        <li>
                                            <strong>options</strong>选项对象，会扩展到现有的选中。</li>
                                    </ul>
                                </li>
                                <li>
                                    <strong>说明：</strong>刷新插件，可以传入选项对象来改变插件呈现。 </li>
                            </ul>
                        </li>
                        <li>
                            <h4>show</h4>
                            <ul>
                                <li>
                                    <strong>说明：</strong>显示。 </li>
                            </ul>
                        </li>
                        <li>
                            <h4>hide</h4>
                            <ul>
                                <li>
                                    <strong>说明：</strong>隐藏。 </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>生命周期</h4>
                    <p>
                        <img src="/assets/img/lifecycle.png" />
                    </p>
                    <h3>Mixin</h3>
                    <h4>dataMixin</h4>
                    <p>混入该插件，即可获得从本地或远程获取数据的能力。</p>
                    <h5>选项</h5>
                    <ul class="api-list">
                        <li>
                            <h4>data</h4>
                            <ul>
                                <li>
                                    <strong>类型：</strong>Any, Function</li>
                                <li>
                                    <strong>说明：</strong>数据，可以是任意 javascript 对象，或者是返回对象的函数 </li>
                            </ul>
                        </li>
                        <li>
                            <h4>dataUrl</h4>
                            <ul>
                                <li>
                                    <strong>类型：</strong>String</li>
                                <li>
                                    <strong>说明：</strong>获取数据的 url 地址。 </li>
                            </ul>
                        </li>
                        <li>
                            <h4>dataParams</h4>
                            <ul>
                                <li>
                                    <strong>类型：</strong>Object</li>
                                <li>
                                    <strong>说明：</strong>获取数据的参数。 </li>
                            </ul>
                        </li>
                        <li>
                            <h4>dataAjax</h4>
                            <ul>
                                <li>
                                    <strong>类型：</strong>Object</li>
                                <li>
                                    <strong>说明：</strong>jquery ajax 方法的参数对象。</li>
                            </ul>
                        </li>
                        <li>
                            <h4>dataProcessor</h4>
                            <ul>
                                <li>
                                    <strong>类型：</strong>Function</li>
                                <li>
                                    <strong>说明：</strong>数据处理函数，用于获取数据后对数据进行一些处理。 </li>
                            </ul>
                        </li>
                    </ul>
                    <h4>templateMixin</h4>
                    <p>混入该插件，即可获得从本地或远程获取模版的能力。</p>
                    <h5>选项</h5>
                    <ul class="api-list">
                        <li>
                            <h4>template</h4>
                            <ul>
                                <li>
                                    <strong>类型：</strong>String</li>
                                <li>
                                    <strong>说明：</strong>模版字符串</li>
                            </ul>
                        </li>
                        <li>
                            <h4>templateUrl</h4>
                            <ul>
                                <li>
                                    <strong>类型：</strong>String</li>
                                <li>
                                    <strong>说明：</strong>远程获取模版的 url 地址。</li>
                            </ul>
                        </li>
                    </ul>
                    <h4>compositMixin</h4>
                    <p>混入该插件，即可获得渲染子组件的能力。</p>
                    <h5>选项</h5>
                    <ul class="api-list">
                        <li>
                            <h4>components</h4>
                            <ul>
                                <li>
                                    <strong>类型：</strong>Array or Function</li>
                                <li>
                                    <strong>说明：</strong>子组件定义，可传入对象数组，或者返回对象数组的函数。</li>
                            </ul>
                        </li>
                        <li>
                            <h4>transmitOptions</h4>
                            <ul>
                                <li>
                                    <strong>类型：</strong>Boolean</li>
                                <li>
                                    <strong>说明：</strong>是否传递选项给子组件。</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>