<div class="vbox">
    <div class="vbox-bd">
        <div class="vbox-bd-cell">
            <div class="vbox-bd-content">
                <div class="slim-scroll p-a-md">
                    <h2>概述</h2>
                    <p>JUI 包含了一系列插件，开箱即用，无需配置和构建。</p>
                    <p>它是经典的 jquery ui 插件，同时又吸收了现代 js 框架（mvvm）的一些优点，可用于传统的多页面开发，也可用于前后端分离的单页应用（spa）开发。</p>
                    <h3>插件特点</h3>
                    <h4>模块化</h4>
                    <p>JUI 插件兼容 AMD 模块化标准，可以使用 requirejs 等组织代码，也可作为普通的 jquery 插件使用</p>
                    <h4>模板化</h4>
                    <p>插件的表现结构采用模版化的方式，可以自由定制插件的表现。</p>
                    <h4>组件化</h4>
                    <p>配合路由及视图插件，可以实现组件式开发，整个页面由一颗组件树组成。</p>
                    <h3>插件类型</h3>
                    <p>根据插件行为，分为三大类：弹出层、列表、表单控件。</p>
                </div>
            </div>
        </div>
    </div>
</div>