<div class="vbox animated fadeInRight">
    <div class="vbox-hd navbar b-b">
        <div class="navbar">
            <div class="navbar-hd" id="WidgetType">
                <script type="text/template" data-role="template">
                    <h4>{{WidgetType}}</h4>
                </script>
            </div>
            <div class="navbar-ft">
                <ul id="Tabs"></ul>
            </div>
        </div>
    </div>
    <div class="vbox-bd">
        <div class="hbox" id="demo">
            <div class="hbox-aside b-r">
                <div class="vbox">
                    <div class="vbox-bd">
                        <ul id="DemoMenu"></ul>
                    </div>
                </div>
            </div>
            <div class="hbox-bd">
                <div class="vbox">
                    <div class="vbox-bd" id="DemoWrapper">
                        <div id="DemoRouter" class="p-md m-b-lg"></div>
                        <pre class="prettyprint linenums lang-html b-b" id="DemoHtml"></pre>
                        <pre class="prettyprint linenums lang-js" id="DemoJs"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>