<div class="vbox">
    <div class="row-fit">
        <div class="cell-fit">
            <div class="cell-fit-inner">
                <div class="slim-scroll p-a-md">
                    <h2>界面原则</h2>
                    <p>要得到一个好的动态网页界面，个人认为有两点很重要，区分和反馈</p>
                    <h3>区分</h3>
                    <p>所谓区分，就是不同的东西要有不同的样子，能让人一眼分辨出来。</p>
                    <p>可以通过间隔，线框，颜色、图标等手段来达到内容的分割和对比来实现。</p>
                    <h3>反馈</h3>
                    <p>所谓反馈，就是所有交互都要有反应，让人确知发生了什么。例如按钮悬停，点击，菜单折叠展开，表单提交过程，提交完成等都需要给出视觉上的反馈。</p>
                </div>
            </div>
        </div>
    </div>
</div>