<div class="vbox animated fadeInRight">
    <div class="vbox-hd">
        <div class="navbar">
            <div class="navbar-hd">
                <h4>卡片</h4>
            </div>
        </div>
    </div>
    <div class="vbox-bd">
        <div class="vbox-bd-cell">
            <div class="vbox-bd-content">
                <div class="slim-scroll p-a-md">
                    <h3>基本样式</h3>
                    <div class="eg">
                        <div class="row grid">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="/assets/img/金庸/书/飞狐外传.jpg" style="max-height:150px;">
                                    </div>
                                    <div class="card-bd">
                                        <h4>飞狐外传</h4>
                                        <p class="t-muted">三联出版社 / 1980年</p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="/assets/img/金庸/书/雪山飞狐.jpg" style="max-height:150px;">
                                    </div>
                                    <div class="card-bd">
                                        <h4>雪山飞狐</h4>
                                        <p class="t-muted">三联出版社 / 1980年</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="/assets/img/金庸/书/连城诀.jpg" style="max-height:150px;">
                                    </div>
                                    <div class="card-bd">
                                        <h4>连城诀</h4>
                                        <p class="t-muted">三联出版社 / 1980年</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="/assets/img/金庸/书/天龙八部.jpg" style="max-height:150px;">
                                    </div>
                                    <h4 class="p-y-md">天龙八部</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="/assets/img/金庸/书/飞狐外传.jpg" style="max-height:150px;">
                                    <h4 class="p-y-md">飞狐外传</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="/assets/img/金庸/书/雪山飞狐.jpg" style="max-height:150px;">
                                    <h4 class="p-y-md">雪山飞狐</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="/assets/img/金庸/书/连城诀.jpg" style="max-height:150px;">
                                    <h4 class="p-y-md">连城诀</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="/assets/img/金庸/书/天龙八部.jpg" style="max-height:150px;">
                                    <h4 class="p-y-md">天龙八部</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3>横向卡片</h3>
                    <div class="eg">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="hcard">
                                    <div class="card-hd">
                                        <img src="/assets/img/金庸/书/飞狐外传.jpg" style="max-height:150px;">
                                    </div>
                                    <div class="card-bd">
                                        <h4 class="card-title"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="/assets/img/金庸/书/雪山飞狐.jpg" style="max-height:150px;">
                                    <h4 class="p-y-md">雪山飞狐</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="/assets/img/金庸/书/连城诀.jpg" style="max-height:150px;">
                                    <h4 class="p-y-md">连城诀</h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="/assets/img/金庸/书/天龙八部.jpg" style="max-height:150px;">
                                    <h4 class="p-y-md">天龙八部</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>