<div class="vbox animated fadeInRight">
    <div class="vbox-hd b-b">
        <div class="navbar">
            <div class="navbar-hd">
                <h4>
                    列表
                </h4>
            </div>
        </div>
    </div>
    <div class="vbox-bd">
        <div class="vbox-bd-cell">
            <div class="vbox-bd-content">
                <div class="p-a-md">
                    <h3>普通列表</h3>
                    <div class="eg">
                        <ul class="list">
                            <li>为什么金庸小说中的武林高手越来越弱</li>
                            <li>笑傲江湖中的政治斗争</li>
                            <li>论《葵花宝典》与《辟邪剑法》</li>
                            <li>武侠世界中的医者</li>
                            <li>《天龙八部》之文化思想的解读</li>
                            <li>金庸小说中的八大经典战役回顾</li>
                        </ul>
                    </div>
                    <h3>带分隔线</h3>
                    <div class="eg">
                        <ul class="list splitline">
                            <li>为什么金庸小说中的武林高手越来越弱</li>
                            <li>笑傲江湖中的政治斗争</li>
                            <li>论《葵花宝典》与《辟邪剑法》</li>
                            <li>武侠世界中的医者</li>
                            <li>《天龙八部》之文化思想的解读</li>
                            <li>金庸小说中的八大经典战役回顾</li>
                        </ul>
                    </div>
                    <h3>带轮廓线</h3>
                    <div class="eg">
                        <ul class="list outline hover">
                            <li>为什么金庸小说中的武林高手越来越弱</li>
                            <li>笑傲江湖中的政治斗争</li>
                            <li>论《葵花宝典》与《辟邪剑法》</li>
                            <li>武侠世界中的医者</li>
                            <li>《天龙八部》之文化思想的解读</li>
                            <li>金庸小说中的八大经典战役回顾</li>
                        </ul>
                    </div>
                    <h3>带间隔的轮廓线</h3>
                    <div class="eg">
                        <ul class="list outline space loose">
                            <li>为什么金庸小说中的武林高手越来越弱</li>
                            <li>笑傲江湖中的政治斗争</li>
                            <li>论《葵花宝典》与《辟邪剑法》</li>
                            <li>武侠世界中的医者</li>
                            <li>《天龙八部》之文化思想的解读</li>
                            <li>金庸小说中的八大经典战役回顾</li>
                        </ul>
                    </div>
                    <h3>单行排列</h3>
                    <div class="eg t-center">
                        <ul class="list list-row">
                            <li>金庸</li>
                            <li>古龙</li>
                            <li>梁羽生</li>
                            <li>黄易</li>
                        </ul>
                    </div>
                    <h3>单行平均排列</h3>
                    <div class="eg t-center">
                        <ul class="list list-row justify">
                            <li>金庸</li>
                            <li>古龙</li>
                            <li>梁羽生</li>
                            <li>黄易</li>
                        </ul>
                    </div>
                    <h3>单行带分隔线</h3>
                    <div class="eg t-center">
                        <ul class="list list-row splitline m-b-lg">
                            <li>金庸</li>
                            <li>古龙</li>
                            <li>梁羽生</li>
                            <li>黄易</li>
                        </ul>
                        <ul class="list list-row justify splitline">
                            <li>金庸</li>
                            <li>古龙</li>
                            <li>梁羽生</li>
                            <li>黄易</li>
                        </ul>
                    </div>
                    <h3>单行带轮廓线</h3>
                    <div class="eg t-center">
                        <ul class="list list-row outline m-b-lg">
                            <li>金庸</li>
                            <li>古龙</li>
                            <li>梁羽生</li>
                            <li>黄易</li>
                            <li>金庸</li>
                            <li>古龙</li>
                            <li>梁羽生</li>
                            <li>黄易</li>
                            <li>金庸</li>
                            <li>古龙</li>
                            <li>梁羽生</li>
                            <li>黄易</li>
                        </ul>
                        <ul class="list list-row justify outline">
                            <li>金庸</li>
                            <li>古龙</li>
                            <li>梁羽生</li>
                            <li>黄易</li>
                            <li>金庸</li>
                            <li>古龙</li>
                            <li>梁羽生</li>
                            <li>黄易</li>
                            <li>金庸</li>
                            <li>古龙</li>
                            <li>梁羽生</li>
                            <li>黄易</li>
                        </ul>
                    </div>
                    <h3>横向浮动排列</h3>
                    <div class="eg">
                        <ul class="list list-float">
                            <li>金庸</li>
                            <li>古龙</li>
                            <li>梁羽生</li>
                            <li>黄易</li>
                            <li>温瑞安</li>
                            <li>卧龙生</li>
                            <li>诸葛青云</li>
                            <li>陈青云</li>
                            <li>云中岳</li>
                            <li>上官鼎</li>
                            <li>平江不肖生</li>
                            <li>还珠楼主</li>
                        </ul>
                    </div>
                    <h3>横向浮动带间隔</h3>
                    <div class="eg">
                        <ul class="list list-float space">
                            <li>金庸</li>
                            <li>古龙</li>
                            <li>梁羽生</li>
                            <li>黄易</li>
                            <li>温瑞安</li>
                            <li>卧龙生</li>
                            <li>诸葛青云</li>
                            <li>陈青云</li>
                            <li>云中岳</li>
                            <li>上官鼎</li>
                            <li>平江不肖生</li>
                            <li>还珠楼主</li>
                        </ul>
                    </div>
                    <h3>横向浮动带轮廓</h3>
                    <div class="eg">
                        <ul class="list list-float outline">
                            <li>金庸</li>
                            <li>古龙</li>
                            <li>梁羽生</li>
                            <li>黄易</li>
                            <li>温瑞安</li>
                            <li>卧龙生</li>
                            <li>诸葛青云</li>
                            <li>陈青云</li>
                            <li>云中岳</li>
                            <li>上官鼎</li>
                            <li>平江不肖生</li>
                            <li>还珠楼主</li>
                        </ul>
                    </div>
                    <h3>横向浮动带间隔轮廓</h3>
                    <div class="eg">
                        <ul class="list list-float outline space">
                            <li>金庸</li>
                            <li>古龙</li>
                            <li>梁羽生</li>
                            <li>黄易</li>
                            <li>温瑞安</li>
                            <li>卧龙生</li>
                            <li>诸葛青云</li>
                            <li>陈青云</li>
                            <li>云中岳</li>
                            <li>上官鼎</li>
                            <li>平江不肖生</li>
                            <li>还珠楼主</li>
                        </ul>
                    </div>
                    <h3>横向浮动带间隔 - 卡片内容</h3>
                    <div class="eg">
                        <div class="list list-float space">
                            <ul>
                                <li>
                                    <div class="card">
                                        <div class="card-bd">飞狐外传</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card">
                                        <div class="card-bd">雪山飞狐</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card">
                                        <div class="card-bd">连城诀</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card">
                                        <div class="card-bd">天龙八部</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card">
                                        <div class="card-bd">射雕英雄传</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card">
                                        <div class="card-bd">白马啸西风</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card">
                                        <div class="card-bd">鹿鼎记</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card">
                                        <div class="card-bd">笑傲江湖</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card">
                                        <div class="card-bd">书剑恩仇录</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card">
                                        <div class="card-bd">神雕侠侣</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card">
                                        <div class="card-bd">侠客行</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card">
                                        <div class="card-bd">倚天屠龙记</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card">
                                        <div class="card-bd">碧血剑</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card">
                                        <div class="card-bd">鸳鸯刀</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>