<div class="vbox animated fadeInRight">
    <div class="vbox-bd">
        <div class="vbox-bd-cell">
            <div class="vbox-bd-content">
                <div class="slim-scroll p-a-md">
                    <h2>边框</h2>
                    <p>预定义了几组间距样式。</p>
                    <h3>默认边框</h3>
                    <p>默认边框<code>.b</code>定义了1px的边框，并默认赋予了灰色。<code>.b-t</code>、<code>.b-r</code>、<code>.b-b</code>、<code>.b-l</code>分别定义了四条单边的边框</p>
                    <div class="eg">
                        <div class="w-md h-md b t-center cell"><code>.b</code></div>
                        <div class="row">
                            <div class="col-md-3 m-y-md">
                                <div class="w-md h-md b-t t-center cell"><code>.b-t</code></div>
                            </div>
                            <div class="col-md-3 m-y-md">
                                <div class="w-md h-md b-r t-center cell"><code>.b-r</code></div>
                            </div>
                            <div class="col-md-3 m-y-md">
                                <div class="w-md h-md b-b t-center cell"><code>.b-b</code></div>
                            </div>
                            <div class="col-md-3 m-y-md">
                                <div class="w-md h-md b-l t-center cell"><code>.b-l</code></div>
                            </div>
                        </div>
                    </div>
                    <div class="highlight">
                        <pre>
                            <code tmpl="tmpl1" data-lang="html"></code>
                        </pre>
                    </div>
                    <h3>边框大小</h3>
                    <p>除了默认的1px边框，还分别定义了2-5px的边框</p>
                    <div class="eg">
                        <div class="row">
                            <div class="col-md-3 m-y-md">
                                <div class="w-md h-md b b-2x t-center cell"><code>.b-2x</code></div>
                            </div>
                            <div class="col-md-3 m-y-md">
                                <div class="w-md h-md b b-3x t-center cell"><code>.b-3x</code></div>
                            </div>
                            <div class="col-md-3 m-y-md">
                                <div class="w-md h-md b b-4x t-center cell"><code>.b-4x</code></div>
                            </div>
                            <div class="col-md-3 m-y-md">
                                <div class="w-md h-md b b-5x t-center cell"><code>.b-5x</code></div>
                            </div>
                        </div>
                    </div>
                    <div class="highlight">
                        <pre>
                            <code tmpl="tmpl2" data-lang="html"></code>
                        </pre>
                    </div>
                    <h3>边框颜色</h3>
                    <p>除了默认的1px边框，还分别定义了2-5px的边框</p>
                    <div class="eg">
                        <div class="row">
                            <div class="col-md-4 m-y-md">
                                <div class="w-md h-md b b-light t-center cell"><code>.b-light</code></div>
                            </div>
                            <div class="col-md-4 m-y-md">
                                <div class="w-md h-md b b-dark t-center cell"><code>.b-dark</code></div>
                            </div>
                            <div class="col-md-4 m-y-md">
                                <div class="w-md h-md b b-primary t-center cell"><code>.b-primary</code></div>
                            </div>
                            <div class="col-md-4 m-y-md">
                                <div class="w-md h-md b b-success t-center cell"><code>.b-success</code></div>
                            </div>
                            <div class="col-md-4 m-y-md">
                                <div class="w-md h-md b b-info t-center cell"><code>.b-info</code></div>
                            </div>
                            <div class="col-md-4 m-y-md">
                                <div class="w-md h-md b b-warning t-center cell"><code>.b-warning</code></div>
                            </div>
                            <div class="col-md-4 m-y-md">
                                <div class="w-md h-md b b-danger t-center cell"><code>.b-danger</code></div>
                            </div>
                            <div class="col-md-4 m-y-md">
                                <div class="w-md h-md b b-black t-center cell"><code>.b-black</code></div>
                            </div>
                            <div class="col-md-4 m-y-md">
                                <div class="w-md h-md b b-white t-center cell"><code>.b-white</code></div>
                            </div>
                        </div>
                    </div>
                    <div class="highlight">
                        <pre>
                            <code tmpl="tmpl3" data-lang="html"></code>
                        </pre>
                    </div>
                    <h3>虚线边框</h3>
                    <p>搭配<code>.b-dashed</code>可以得到虚线边框</p>
                    <div class="eg">
                        <div class="w-full h-md b b-5x b-primary b-dashed t-center cell"><code>.b .b-5x .b-primary .b-dashed</code></div>
                    </div>
                    <div class="highlight">
                        <pre>
                            <code tmpl="tmpl4" data-lang="html"></code>
                        </pre>
                    </div>
                    <h3>圆角边框</h3>
                    <div class="eg">
                        <div class="row">
                            <div class="col-md-4 m-y-md">
                                <div class="w-md h-md b b-primary r-sm t-center cell"><code>.r-sm</code></div>
                            </div>
                            <div class="col-md-4 m-y-md">
                                <div class="w-md h-md b b-primary r-md t-center cell"><code>.r-md</code></div>
                            </div>
                            <div class="col-md-4 m-y-md">
                                <div class="w-md h-md b b-primary r-lg t-center cell"><code>.r-lg</code></div>
                            </div>
                            <div class="col-md-4 m-y-md">
                                <div class="w-md h-md b b-primary r-round t-center cell"><code>.r-round</code></div>
                            </div>
                            <div class="col-md-4 m-y-md">
                                <div class="b b-primary r-circle t-center cell" style="width:64px; height:64px;"><code>.r-circle</code></div>
                            </div>
                        </div>
                    </div>
                    <div class="highlight">
                        <pre>
                            <code tmpl="tmpl5" data-lang="html"></code>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tmpl1" type="text/html">
<div class="w-md h-md b t-center cell"><code>.b</code></div>
</script>
<script id="tmpl2" type="text/html">
<div class="w-md h-md b t-center cell"><code>.b</code></div>
<div class="row">
    <div class="col-md-3 m-y-md">
        <div class="w-md h-md b-t t-center cell"><code>.b-t</code></div>
    </div>
    <div class="col-md-3 m-y-md">
        <div class="w-md h-md b-r t-center cell"><code>.b-r</code></div>
    </div>
    <div class="col-md-3 m-y-md">
        <div class="w-md h-md b-b t-center cell"><code>.b-b</code></div>
    </div>
    <div class="col-md-3 m-y-md">
        <div class="w-md h-md b-l t-center cell"><code>.b-l</code></div>
    </div>
</div>
</script>
<script id="tmpl3" type="text/html">
<div class="row">
    <div class="col-md-4 m-y-md">
        <div class="w-md h-md b b-light t-center cell"><code>.b-light</code></div>
    </div>
    <div class="col-md-4 m-y-md">
        <div class="w-md h-md b b-dark t-center cell"><code>.b-dark</code></div>
    </div>
    <div class="col-md-4 m-y-md">
        <div class="w-md h-md b b-primary t-center cell"><code>.b-primary</code></div>
    </div>
    <div class="col-md-4 m-y-md">
        <div class="w-md h-md b b-success t-center cell"><code>.b-success</code></div>
    </div>
    <div class="col-md-4 m-y-md">
        <div class="w-md h-md b b-info t-center cell"><code>.b-info</code></div>
    </div>
    <div class="col-md-4 m-y-md">
        <div class="w-md h-md b b-warning t-center cell"><code>.b-warning</code></div>
    </div>
    <div class="col-md-4 m-y-md">
        <div class="w-md h-md b b-danger t-center cell"><code>.b-danger</code></div>
    </div>
    <div class="col-md-4 m-y-md">
        <div class="w-md h-md b b-black t-center cell"><code>.b-black</code></div>
    </div>
    <div class="col-md-4 m-y-md">
        <div class="w-md h-md b b-white t-center cell"><code>.b-white</code></div>
    </div>
</div>
</script>
<script id="tmpl4" type="text/html">
<div class="w-md h-md b b-5x b-primary b-dashed t-center cell"><code>.b .b-5x .b-primary .b-dashed</code></div>
</script>
<script id="tmpl5" type="text/html">
<div class="row">
    <div class="col-md-4 m-y-md">
        <div class="w-md h-md b b-primary r-sm t-center cell"><code>.r-sm</code></div>
    </div>
    <div class="col-md-4 m-y-md">
        <div class="w-md h-md b b-primary r-md t-center cell"><code>.r-md</code></div>
    </div>
    <div class="col-md-4 m-y-md">
        <div class="w-md h-md b b-primary r-lg t-center cell"><code>.r-lg</code></div>
    </div>
    <div class="col-md-4 m-y-md">
        <div class="w-md h-md b b-primary r-round t-center cell"><code>.r-round</code></div>
    </div>
    <div class="col-md-4 m-y-md">
        <div class="b b-primary r-circle t-center cell" style="width:64px; height:64px;"><code>.r-circle</code></div>
    </div>
</div>
</script>