<div class="vbox animated fadeInRight">
    <div class="row-fit">
        <div class="cell-fit">
            <div class="cell-fit-inner">
                <div class="slim-scroll p-a-md">
                    <h2>间距</h2>
                    <p>预定义了几组间距样式。</p>
                     <div class="highlight">
                        <pre>
                            <code tmpl="tmpl1" class="language-css" data-lang="css"></code>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<script id="tmpl1" type="text/html">
.m-a-0 { margin:        0 !important; }
.m-t-0 { margin-top:    0 !important; }
.m-r-0 { margin-right:  0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-l-0 { margin-left:   0 !important; }
.m-x-0 { margin-right:  0 !important; margin-left:   0 !important; }
.m-y-0 { margin-top:    0 !important; margin-bottom: 0 !important; }

.m-a-xs { margin:        5px !important; }
.m-t-xs { margin-top:    5px !important; }
.m-r-xs { margin-right:  5px !important; }
.m-b-xs { margin-bottom: 5px !important; }
.m-l-xs { margin-left:   5px !important; }
.m-x-xs { margin-right:  5px !important; margin-left: 5px!important; }
.m-y-xs { margin-top:    5px !important; margin-bottom: 5px !important; }
.m-x-auto { margin-right: auto !important; margin-left: auto !important; }

.m-a-sm { margin:        10px !important; }
.m-t-sm { margin-top:    10px!important; }
.m-r-sm { margin-right:  10px !important; }
.m-b-sm { margin-bottom: 10px !important; }
.m-l-sm { margin-left:   10px !important; }
.m-x-sm { margin-right:  10px !important; margin-left:   10px !important; }
.m-y-sm { margin-top:    10px !important; margin-bottom: 10px !important; }

.m-a-md { margin:        15px !important; }
.m-t-md { margin-top:    15px!important; }
.m-r-md { margin-right:  15px !important; }
.m-b-md { margin-bottom: 15px !important; }
.m-l-md { margin-left:   15px !important; }
.m-x-md { margin-right:  15px !important; margin-left:   15px !important; }
.m-y-md { margin-top:    15px !important; margin-bottom: 15px !important; }

.m-a-lg { margin:        20px !important; }
.m-t-lg { margin-top:    20px !important; }
.m-r-lg { margin-right:  20px !important; }
.m-b-lg { margin-bottom: 20px !important; }
.m-l-lg { margin-left:   20px !important; }
.m-x-lg { margin-right:  20px !important; margin-left:   20px !important; }
.m-y-lg { margin-top:    20px !important; margin-bottom: 20px !important; }

.m-a-xl { margin:        25px !important; }
.m-t-xl { margin-top:    25px !important; }
.m-r-xl { margin-right:  25px !important; }
.m-b-xl { margin-bottom: 25px !important; }
.m-l-xl { margin-left:   25px !important; }
.m-x-xl { margin-right:  25px !important; margin-left:   25px !important; }
.m-y-xl { margin-top:    25px !important; margin-bottom: 25px !important; }
</script>