<div class="vbox animated fadeInRight">
    <div class="row-fit">
        <div class="cell-fit">
            <div class="cell-fit-inner">
                <div class="slim-scroll p-a-md">
                    <h2>内补</h2>
                    <p>预定义了几组内补样式。</p>
                     <div class="highlight">
                        <pre>
                            <code tmpl="tmpl1" class="language-css" data-lang="css"></code>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<script id="tmpl1" type="text/html">
.p-a-0 { padding:        0 !important; }
.p-t-0 { padding-top:    0 !important; }
.p-r-0 { padding-right:  0 !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-l-0 { padding-left:   0 !important; }
.p-x-0 { padding-left:   0 !important; padding-right: 0 !important; }
.p-y-0 { padding-top:    0 !important; padding-bottom: 0 !important; }

.p-a-xs { padding:        5px !important; }
.p-t-xs { padding-top:    5px !important; }
.p-r-xs { padding-right:  5px !important; }
.p-b-xs { padding-bottom: 5px !important; }
.p-l-xs { padding-left:   5px !important; }
.p-x-xs { padding-right:  5px !important; padding-left:   5px !important; }
.p-y-xs { padding-top:    5px !important; padding-bottom: 5px !important; }

.p-a-sm { padding:        10px !important; }
.p-t-sm { padding-top:    10px !important; }
.p-r-sm { padding-right:  10px !important; }
.p-b-sm { padding-bottom: 10px !important; }
.p-l-sm { padding-left:   10px !important; }
.p-x-sm { padding-right:  10px !important; padding-left:   10px !important; }
.p-y-sm { padding-top:    10px !important; padding-bottom: 10px !important; }

.p-a-md { padding:        15px !important; }
.p-t-md { padding-top:    15px !important; }
.p-r-md { padding-right:  15px !important; }
.p-b-md { padding-bottom: 15px !important; }
.p-l-md { padding-left:   15px !important; }
.p-x-md { padding-right:  15px !important; padding-left:   15px !important; }
.p-y-md { padding-top:    15px !important; padding-bottom: 15px !important; }

.p-a-lg { padding:        20px !important; }
.p-t-lg { padding-top:    20px !important; }
.p-r-lg { padding-right:  20px !important; }
.p-b-lg { padding-bottom: 20px !important; }
.p-l-lg { padding-left:   20px !important; }
.p-x-lg { padding-right:  20px !important; padding-left:   20px !important; }
.p-y-lg { padding-top:    20px !important; padding-bottom: 20px !important; }

.p-a-xl { padding:        25px !important; }
.p-t-xl { padding-top:    25px !important; }
.p-r-xl { padding-right:  25px !important; }
.p-b-xl { padding-bottom: 25px !important; }
.p-l-xl { padding-left:   25px !important; }
.p-x-xl { padding-right:  25px !important; padding-left:   25px !important; }
.p-y-xl { padding-top:    25px !important; padding-bottom: 25px !important; }

.p-sm { padding: 5px 10px; }
.p-md { padding: 10px 15px }
</script>