<div class="vbox animated fadeInRight">
    <div class="row-fit">
        <div class="cell-fit">
            <div class="cell-fit-inner">
                <div class="slim-scroll p-a-md">
                    <h2>高宽</h2>
                    <p>系统预定义了一些宽度跟高度样式类。包括固定大小和百分比大小。</p>
                    <h3>预定义固定高度</h3>
                    <div class="eg">
                        <div class="h-xs bg-light dker p-sm"><code>h-xs</code> 30px，可用于顶部较矮的导航栏topbar</div>
                        <div class="h-sm bg-light lter p-sm"><code>h-sm</code> 50px，一般用于后台页面的顶部工具栏toolbar</div>
                        <div class="h-md bg-light dker p-sm"><code>h-md</code> 60px，一般用于前台页面的导航栏</div>
                        <div class="h-lg bg-light lter p-sm"><code>h-lg</code> 80px，一般用于前台页面的导航栏</div>
                        <div class="h-xl bg-light dker p-sm"><code>h-xl</code> 150px，可用于顶部或底部的滑出栏</div>
                    </div>
                    <h3>预定义固定宽度</h3>
                    <div class="eg">
                        <div class="hbox ">
                            <div class="w-xs bg-light dker"></div>
                            <div class="p-a-md"><code>w-xs</code> 30px，可用于侧边快捷指示栏</div>
                        </div>
                        <div class="hbox m-x-sm">
                            <div class="w-sm bg-light dker"></div>
                            <div class="p-a-md"><code>w-xs</code> 60px，可用于侧边单级图标菜单栏</div>
                        </div>
                        <div class="hbox m-x-sm">
                            <div class="w-md bg-light dker"></div>
                            <div class="p-a-md"><code>w-md</code> 150px，可用于侧边树形菜单栏</div>
                        </div>
                        <div class="hbox m-x-sm">
                            <div class="w-lg bg-light dker"></div>
                            <div class="p-a-md"><code>w-lg</code> 200px，可用于侧边树形菜单栏</div>
                        </div>
                        <div class="hbox m-x-sm">
                            <div class="w-xl bg-light dker"></div>
                            <div class="p-a-md"><code>w-xl</code> 300px，可用于侧边树形菜单栏</div>
                        </div>
                    </div>
                    <h3>预定义百分比宽度</h3>
                    <div class="eg">
                        <div class="hbox t-center">
                            <div class="w-1-2 b b-primary v-m p-y-md"><code>w-1-2</code></div>
                            <div class="w-1-2 b b-primary v-m p-y-md"><code>w-1-2</code></div>
                        </div>
                        <br>
                        <div class="hbox t-center">
                            <div class="w-1-3 b b-primary v-m p-y-md"><code>w-1-3</code></div>
                            <div class="w-1-3 b b-primary v-m p-y-md"><code>w-1-3</code></div>
                            <div class="w-1-3 b b-primary v-m p-y-md"><code>w-1-3</code></div>
                        </div>
                        <br>
                        <div class="hbox t-center">
                            <div class="w-1-4 b b-primary v-m p-y-md"><code>w-1-4</code></div>
                            <div class="w-1-4 b b-primary v-m p-y-md"><code>w-1-4</code></div>
                            <div class="w-1-4 b b-primary v-m p-y-md"><code>w-1-4</code></div>
                            <div class="w-1-4 b b-primary v-m p-y-md"><code>w-1-4</code></div>
                        </div>
                        <br>
                        <div class="hbox t-center">
                            <div class="w-1-5 b b-primary v-m p-y-md"><code>w-1-5</code></div>
                            <div class="w-1-5 b b-primary v-m p-y-md"><code>w-1-5</code></div>
                            <div class="w-1-5 b b-primary v-m p-y-md"><code>w-1-5</code></div>
                            <div class="w-1-5 b b-primary v-m p-y-md"><code>w-1-5</code></div>
                            <div class="w-1-5 b b-primary v-m p-y-md"><code>w-1-5</code></div>
                        </div>
                    </div>
                    <h3>自动高度</h3>
                    <p>上述都是直接指定容器的大小，也可以不指定，默认auto，则根据内容来确定大小。</p>
                </div>
            </div>
        </div>
    </div>
</div>