<div class="vbox animated fadeInRight">
    <div class="row-fit">
        <div class="cell-fit">
            <div class="cell-fit-inner">
                <div class="slim-scroll p-a-md">
                    <h2>颜色</h2>
                    <h3>有意义的颜色</h3>
                    <p class="lh-lg">颜色在界面设计中的使用应同时具备品牌识别性以及界面设计功能性。众所周知颜色是相当感性的东西，设计中对颜色的运用首要应考虑到品牌层面的表达，另外很重要的一点是颜色的运用应达到信息传递，动作指引，交互反馈，或是强化和凸现某一个元素的目的。任何颜色的选取和使用应该是有意义的。众所周知颜色是相当感性的东西，设计中对颜色的运用首要应考虑到品牌层面的表达，另外很重要的一点是颜色的运用应达到信息传递，动作指引，交互反馈，或是强化和凸现某一个元素的目的。任何颜色的选取和使用应该是有意义的。</p>
                    <h3>JUI Colors</h3>
                    <p>JUI 的色板由 8 种基本颜色组成，每种基本色又根据明暗变化衍生出 5 种颜色。</p>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>.bg-light</p>
                            <div class="bg-light">
                                <h5 class="dker m-a-0 p-a-md">.dker</h5>
                                <h5 class="dk m-a-0 p-a-md">.dk</h5>
                                <h5 class=" m-a-0 p-a-md">.bg-light</h5>
                                <h5 class="lt m-a-0 p-a-md">.lt</h5>
                                <h5 class="lter m-a-0 p-a-md">.lter</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p>.bg-dark</p>
                            <div class="bg-dark">
                                <h5 class="dker m-a-0 p-a-md">.dker</h5>
                                <h5 class="dk m-a-0 p-a-md">.dk</h5>
                                <h5 class=" m-a-0 p-a-md">.bg-dark</h5>
                                <h5 class="lt m-a-0 p-a-md">.lt</h5>
                                <h5 class="lter m-a-0 p-a-md">.lter</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p>.bg-black</p>
                            <div class="bg-black">
                                <h5 class="dker m-a-0 p-a-md">.dker</h5>
                                <h5 class="dk m-a-0 p-a-md">.dk</h5>
                                <h5 class=" m-a-0 p-a-md">.bg-black</h5>
                                <h5 class="lt m-a-0 p-a-md">.lt</h5>
                                <h5 class="lter m-a-0 p-a-md">.lter</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p>.bg-primary</p>
                            <div class="bg-primary">
                                <h5 class="dker m-a-0 p-a-md">.dker</h5>
                                <h5 class="dk m-a-0 p-a-md">.dk</h5>
                                <h5 class=" m-a-0 p-a-md">.bg-primary</h5>
                                <h5 class="lt m-a-0 p-a-md">.lt</h5>
                                <h5 class="lter m-a-0 p-a-md">.lter</h5>
                            </div>
                        </div>
                    </div>
                    <div class="row m-y-md">
                        <div class="col-sm-3">
                            <p>.bg-success</p>
                            <div class="bg-success">
                                <h5 class="dker m-a-0 p-a-md">.dker</h5>
                                <h5 class="dk m-a-0 p-a-md">.dk</h5>
                                <h5 class=" m-a-0 p-a-md">.bg-light</h5>
                                <h5 class="lt m-a-0 p-a-md">.lt</h5>
                                <h5 class="lter m-a-0 p-a-md">.lter</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p>.bg-info</p>
                            <div class="bg-info">
                                <h5 class="dker m-a-0 p-a-md">.dker</h5>
                                <h5 class="dk m-a-0 p-a-md">.dk</h5>
                                <h5 class=" m-a-0 p-a-md">.bg-dark</h5>
                                <h5 class="lt m-a-0 p-a-md">.lt</h5>
                                <h5 class="lter m-a-0 p-a-md">.lter</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p>.bg-warning</p>
                            <div class="bg-warning">
                                <h5 class="dker m-a-0 p-a-md">.dker</h5>
                                <h5 class="dk m-a-0 p-a-md">.dk</h5>
                                <h5 class=" m-a-0 p-a-md">.bg-black</h5>
                                <h5 class="lt m-a-0 p-a-md">.lt</h5>
                                <h5 class="lter m-a-0 p-a-md">.lter</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <p>.bg-danger</p>
                            <div class="bg-danger">
                                <h5 class="dker m-a-0 p-a-md">.dker</h5>
                                <h5 class="dk m-a-0 p-a-md">.dk</h5>
                                <h5 class=" m-a-0 p-a-md">.bg-primary</h5>
                                <h5 class="lt m-a-0 p-a-md">.lt</h5>
                                <h5 class="lter m-a-0 p-a-md">.lter</h5>
                            </div>
                        </div>
                    </div>
                    <h3>颜色和交互</h3>
                    <p>设计元素本身由于交互行为会引发一系列细微的视觉变化，而元素本身的颜色变化有时也能很好的实现这一目的。例如当鼠标 hover 某个特定元素，就视为浮起，对应颜色就用相应的更亮色，例如按钮，菜单都做了这样的效果。</p>
                    <h3>主题</h3>
                    <p>上面的 8 种颜色中，主色.bg-primary是比较特殊的，一个是它代表了一个品牌的调性，另一个是界面其他元素很多也是基于主色的，例如链接颜色，主按钮颜色，菜单高亮颜色等，所以修改主色的颜色可以做到最简单的定制主题。</p>
                </div>
            </div>
        </div>
    </div>
</div>