<div class="vbox animated fadeInRight">
    <div class="vbox-hd b-b">
        <div class="navbar">
            <div class="navbar-hd">
                <h4>
                    概述
                </h4>
            </div>
        </div>
    </div>
    <div class="vbox-bd">
        <div class="vbox-bd-cell">
            <div class="vbox-bd-content  p-a-md">
                <p>JUI 包含了一组样式，用于基本的网页布局、元素显示和组件显示。</p>
                <h3>样式组织方式</h3>
                <p>关于样式的组织方式，有两大门派，一派是原子类方式，一派是语义类方式。</p>
                <p>原子类介绍可参考文章：
                    <a href="https://www.smashingmagazine.com/2013/10/challenging-css-best-practices-atomic-approach/">Challenging CSS Best Practices</a>
                </p>
                <p>语义类介绍可参考文章：
                    <a href="http://maintainablecss.com/">http://maintainablecss.com/</a>
                </p>
                <p>
                    <a href="https://github.com/cssmagic/blog/issues/45">浅析 Bootstrap 的 CSS 类名设计</a>
                </p>
                <p>
                    <a href="http://www.zhihu.com/question/20658520/answer/15770608">知乎上对原子类的批判</a>
                </p>
                <h3>语义类</h3>
                <p>通过界面元素实际代表的意义来命名，并编写样式的类。</p>
                <div class="highlight">
                    <pre>
                            <code tmpl="tmpl1" class="language-html" data-lang="html"></code>
                        </pre>
                </div>
                <h4>原子类</h4>
                <p class="lh-lg">原子化 CSS（Atomic CSS），是 Yahoo 提出来的一种独特的 CSS 代码组织方式，应用在 Yahoo 首页和其他产品中。ACSS 的独特性在于它的理念与一般开发人员的理解有很大的不同，并挑战了传统意义上编写
                    CSS 的最佳实践，也就是关注点分离原则。ACSS 认为关注点分离原则会导致冗余、繁琐和难以维护的 CSS 代码。 ACSS 的原则是把 CSS 样式打散成尽可能小的部分，每个 CSS 类只对应一条样式规则，从而达到最大化的可复用性。比如
                    CSS 类 M(10px)所对应的样式规则是 margin: 10px。在应用 CSS 样式时，只需要在把所需要的原子化 CSS 类名添加到 DOM 元素上即可。</p>
                <p>一个原子类一般只包含一种或一类样式属性，所以也叫属性类，而一种属性大多代表视觉表现上某种呈现，所以，一个原子类也就描述了视觉上的某个方面 </p>
                <div class="highlight">
                    <pre>
                            <code tmpl="tmpl2" class="language-html" data-lang="html"></code>
                        </pre>
                </div>
                <p>哪里使用</p>
                <ul>
                    <li>可以用来快速构建原型界面。比使用语义类更快（不需要定义新的样式类，不需要给样式类取名字），比不使用样式类更好看（原子类自带定义良好的样式）。在将原型转化为产品时可以通过less或sass等css预处理器把原子类样式组合重构到语义类。</li>
                    <li>因为一个原子类一般对应一个视觉方面，所以也可以通过定义良好的原子类来学习，熟悉css样式的知识。</li>
                    <li>在局部，对通用语义类进行特殊化调整的时候。</li>
                    <li>用于语义类的非通用部分进行定制的时候。</li>
                </ul>
                <h4>综合使用原则</h4>
                <ul>
                    <li>以语义类为主，原子类为辅</li>
                    <li>通用结构用语义类</li>
                    <li>通用结构里的非通用元素的样式定制用原子类</li>
                    <li>通用结构的通用元素的样式定制使用模块修饰符</li>
                    <li>布局和颜色原子类组合语义类一起使用。</li>
                </ul>
                <p>应用上述原则之后的一个模块结构有可能类似这样</p>
                <div class="highlight">
                    <pre>
                            <code tmpl="tmpl3" class="language-html" data-lang="html"></code>
                        </pre>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="tmpl1" type="text/html">
<div class="wrapper">
    <div class="sidebar">
        column 1
    </div>
    <div class="content">
        sidebar
    </div>
</div>
</script>
<script id="tmpl2" type="text/html">
<div class="Bfc M-10">
    <div class="Fl-start Mend-10 W-25">
        column 1
    </div>
    <div class="Bfc">
        column 2
    </div>
</div>
</script>
<script id="tmpl3" type="text/html">
<div class="wrapper blog">
    <div class="sidebar">
        <div class="t-ell">column 1</div>
    </div>
    <div class="content">
        sidebar
    </div>
</div>
</script>