<div class="modal">
    <div class="modal-hd">
        <div class="navbar">
            <div class="navbar-hd">
                <h4>修改原因</h4>
            </div>
            <div class="navbar-ft"><span data-dismiss="jlayer" class="jlayer-close"></span></div>
        </div>
    </div>
    <div class="modal-bd">
        <div id="RFCTable">
        </div>
        <div id="RepeatList" class="jlist-items">
            <script type="text/html" data-role="item">
                <div class="cardbox m-t-md">
                    <div class="box-hd navbar navbar-sm">
                        <h4>{{label}}</h4>
                    </div>
                    <div class="box-bd">
                        {{if added.length}}
                        <div class="cardbox">
                            <div class="box-hd">新增{{added.length}}条记录</div>
                            <div class="box-bd">
                                <div id="AddedList"></div>
                            </div>
                        </div>
                        {{/if}} {{if updated.length}}
                        <div class="cardbox">
                            <div class="box-hd">修改{{updated.length}}条记录</div>
                            <div class="box-bd">
                                <div id="UpdatedList"></div>
                            </div>
                        </div>
                        {{/if}} {{if removed.length}}
                        <div>
                            <div>删除{{removed.length}}条记录</div>
                            <div>
                                <div id="RemovedList"></div>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </script>
        </div>
    </div>
    <div class="modal-ft">
        <button id="SaveBtn" type="button" class="btn bg-primary">确认修改</button>
        <button type="button" class="btn bg-light" data-dismiss="jlayer">取消</button>
    </div>
</div>