<div class="vbox animated fadeInRight">
    <div class="vbox-hd b-b">
        <div class="navbar">
            <div class="navbar-hd">
                <h4>
                    纵向菜单
                </h4>
            </div>
        </div>
    </div>
    <div class="vbox-bd p-a-md">
        <div class="widget widget-panel">
            <div class="widget-hd">
                <div class="navbar">
                    <div class="navbar-hd">
                        <h4>基本样式</h4>
                    </div>
                </div>
            </div>
            <div class="widget-bd">
                <ul class="menu">
                    <li>
                        <a>飞狐外传</a>
                    </li>
                    <li>
                        <a class="active">雪山飞狐</a>
                    </li>
                    <li>
                        <a>连城诀</a>
                    </li>
                    <li>
                        <a>天龙八部</a>
                    </li>
                    <li>
                        <a>射雕英雄传</a>
                    </li>
                    <li>
                        <a>白马啸西风</a>
                    </li>
                    <li>
                        <a>鹿鼎记</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widget widget-panel">
            <div class="widget-hd">
                <div class="navbar">
                    <div class="navbar-hd">
                        <h4>不同背景色</h4>
                    </div>
                </div>
            </div>
            <div class="widget-bd">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-hd">bg-white</div>
                            <div class="card-bd">
                                <ul class="menu bg-white">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-hd">bg-light</div>
                            <div class="card-bd">
                                <ul class="menu bg-light">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-hd">bg-primary</div>
                            <div class="card-bd">
                                <ul class="menu bg-primary">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li class="active">
                                        <a>雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget widget-panel">
            <div class="widget-hd">
                <div class="navbar">
                    <div class="navbar-hd">
                        <h4>选中项高亮</h4>
                    </div>
                </div>
            </div>
            <div class="widget-bd">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-hd">bg-white</div>
                            <div class="card-bd">
                                <ul class="menu active-highlight">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-hd">bg-light</div>
                            <div class="card-bd">
                                <ul class="menu bg-light active-highlight">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-hd">bg-success</div>
                            <div class="card-bd">
                                <ul class="menu bg-success active-highlight">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget widget-panel">
            <div class="widget-hd">
                <div class="navbar">
                    <div class="navbar-hd">
                        <h4>选中项带线条</h4>
                    </div>
                </div>
            </div>
            <div class="widget-bd">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-hd">bg-white</div>
                            <div class="card-bd">
                                <ul class="menu active-line">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-hd">bg-light</div>
                            <div class="card-bd">
                                <ul class="menu bg-light active-line">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-hd">bg-success</div>
                            <div class="card-bd">
                                <ul class="menu bg-success active-line">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>