<div class="vbox animated fadeInRight">
    <div class="vbox-hd b-b">
        <div class="navbar">
            <div class="navbar-hd">
                <h4>
                    横向菜单
                </h4>
            </div>
        </div>
    </div>
    <div class="vbox-bd">
        <div class="vbox-bd-cell">
            <div class="vbox-bd-content p-a-md">
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>基本样式</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <ul class="menu-row">
                            <li>
                                <a>飞狐外传</a>
                            </li>
                            <li>
                                <a class="active">雪山飞狐</a>
                            </li>
                            <li>
                                <a>连城诀</a>
                            </li>
                            <li>
                                <a>天龙八部</a>
                            </li>
                            <li>
                                <a>射雕英雄传</a>
                            </li>
                            <li>
                                <a>白马啸西风</a>
                            </li>
                            <li>
                                <a>鹿鼎记</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>不同背景色</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="card m-b-lg">
                            <div class="card-hd">bg-white</div>
                            <div class="card-bd">
                                <ul class="menu-row bg-white">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-b-lg">
                            <div class="card-hd">bg-light</div>
                            <div class="card-bd">
                                <ul class="menu-row bg-light">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-b-lg">
                            <div class="card-hd">bg-primary</div>
                            <div class="card-bd">
                                <ul class="menu-row bg-primary">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>选中项高亮</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="card m-b-lg">
                            <div class="card-hd">bg-white</div>
                            <div class="card-bd">
                                <ul class="menu-row active-highlight">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-b-lg">
                            <div class="card-hd">bg-light</div>
                            <div class="card-bd">
                                <ul class="menu-row bg-light active-highlight">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-hd">bg-success</div>
                            <div class="card-bd">
                                <ul class="menu-row bg-success active-highlight">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>选中项带线条</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="card m-b-lg">
                            <div class="card-hd">bg-white</div>
                            <div class="card-bd">
                                <ul class="menu-row active-line">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-b-lg">
                            <div class="card-hd">bg-light</div>
                            <div class="card-bd">
                                <ul class="menu-row bg-light active-line">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-b-lg">
                            <div class="card-hd">bg-success</div>
                            <div class="card-bd">
                                <ul class="menu-row bg-success active-line">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-panel">
                    <div class="widget-hd">
                        <div class="navbar">
                            <div class="navbar-hd">
                                <h4>空间大小</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-bd">
                        <div class="card m-b-lg">
                            <div class="card-hd">紧密</div>
                            <div class="card-bd">
                                <ul class="menu-row active-line tight">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-b-lg">
                            <div class="card-hd">默认</div>
                            <div class="card-bd">
                                <ul class="menu-row bg-light active-line">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card m-b-lg">
                            <div class="card-hd">宽松</div>
                            <div class="card-bd">
                                <ul class="menu-row bg-success active-line loose">
                                    <li>
                                        <a>飞狐外传</a>
                                    </li>
                                    <li>
                                        <a class="active">雪山飞狐</a>
                                    </li>
                                    <li>
                                        <a>连城诀</a>
                                    </li>
                                    <li>
                                        <a>天龙八部</a>
                                    </li>
                                    <li>
                                        <a>射雕英雄传</a>
                                    </li>
                                    <li>
                                        <a>白马啸西风</a>
                                    </li>
                                    <li>
                                        <a>鹿鼎记</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>