<div class="bar-container">
    <template v-for="(t,key) in getPlanBarProgress(task)">
        <div class="bar-progress plan" :style="{width:t.days*dayWidth+'px',left:t.distance*dayWidth+'px'}">
            <i v-if="key==='start'" aria-hidden="true" class="fa fa-angle-left"></i>
            <i v-if="key==='end'" aria-hidden="true" class="fa fa-angle-right"></i>
        </div>
    </template>
    <template v-for="(t,key) in getActualBarProgress(task)">
            <div class="bar-progress actual"
                :class="{'actual-start':key==='start','actual-normal bg-success':key==='normal','actual-warn bg-warning':key==='warn','actual-delay bg-danger':key==='delay','actual-end':key==='end'}"
                :style="{width:t.days*dayWidth+'px',left:t.distance*dayWidth+'px'}"
                >
                <i v-if="key==='start'" aria-hidden="true" class="fa fa-angle-left"></i>
                <i v-if="key==='end'" aria-hidden="true" class="fa fa-angle-right"></i>
            </div>
    </template>
</div>